<div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"><b>Residential Service Agreement</b></h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#"></a></li>
                  <li class="breadcrumb-item active" aria-current="page"></li>
                </ol>
              </nav>
            </div>
            <div class="row">
            
<div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <p class="card-description">RESIDENT DETAILS</p>
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputName1">Resident Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Resident Name" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputroom">Room No</label>
                        <input type="text" class="form-control" id="exampleInputroom" placeholder="Room No" />
                        <label for="exampleInputbed">Bed</label>
                        <input type="text" class="form-control" id="exampleInputbed" placeholder="Bed" />
                        <label for="exampleInputdate">Date of Birth</label>
                        <input type="text" class="form-control" id="exampleInputroom" placeholder="dd/mm/yyyy" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputguardian">Guardian</label>
                        <input type="text" class="form-control" id="exampleInputguardian" placeholder="Guardian" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputadmin">Administrator</label>
                        <input type="text" class="form-control" id="exampleInputadmin" placeholder="Administrator" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputperson">Person Nominated</label>
                        <input type="text" class="form-control" id="exampleInputperson" placeholder="Person Nominated" />
                      </div>
                      <p class="card-description">DURATION OF STAY</p>
                      <div class="form-group">
                        <div class="form-group">
                        <label for="exampleInputstayform">Indefinite period of stay form</label>
                        <input type="text" class="form-control" id="examplestayform" placeholder="Indefinite period of stay form" />
                        <label for="exampleInputfixed">Fixed period stay form</label>
                        <input type="text" class="form-control" id="exampleInputfixed" placeholder="Fixed period stay form" />
                        <label for="exampleInputending">Ending on</label>
                        <input type="text" class="form-control" id="exampleInputending" placeholder="Ending on" />
                      </div>
                    <p class="card-description">FEE AND CHARGES</p>
                      <div class="form-group">
                      <label for="exampleInputsupport">Fee for accommodation and personal support</label>
                        <input type="text" class="form-control" id="exampleInputsupport" placeholder="Fee for accommodation and personal support" />
                        <label for="exampleInputpay">How to pay</label>
                        <input type="text" class="form-control" id="exampleInputpay" placeholder="How to pay" />   
                        </div>
                        <div class="form-group">
                        <label for="exampleInputpayment">Frequency of payment</label>
                        <input type="text" class="form-control" id="exampleInputpayment" placeholder="Frequency of payment" />
                      </div>
                       <div class="form-group">
                        <label for="exampleInputitems">Fee in advance charged for other items/service provide by SRS</label>
                        <input type="text" class="form-control" id="exampleInputitems" placeholder="ee in advance charged for other items/service provide by SRS" />
                      </div>
                       <div class="form-group">
                        <label for="exampleInputdeposite">Security deposite charged</label>
                        <input type="text" class="form-control" id="exampleInputdeposite" placeholder="Security deposite charged" />
                      </div>
                       <div class="form-group">
                        <label for="exampleInputreservation">Reservation for charged</label>
                        <input type="text" class="form-control" id="exampleInputreservation" placeholder="Reservation for charged" />
                      </div>
                       <div class="form-group">
                        <label for="exampleInputestablishment">Establishment for charged</label>
                        <input type="text" class="form-control" id="exampleInputestablishment" placeholder="Establishment for charged" />
                      </div>
                    <p class="card-description">INDIVIDUAL SPECIFIES</p>
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputcondition">Condition report provided to the resident?</label>
                        <label class="form-check-label">
                        <input type="checkbox" class="form-control" id="exampleInputcondition" value="option1" /> Yes</label> <label class="form-check-label">
                        <input type="checkbox" class="form-control" id="exampleInputcondition" value="option2" /> No</label>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputresident">Specify items and services provided to the resident </label>
                        <input type="text" class="form-control" id="exampleInputresident" placeholder="Specify items and services provided to the residen" />
                      </div>
                     <div class="form-group">
                        <label for="exampleInputapply">Any special items that may apply to the resident </label>
                        <input type="text" class="form-control" id="exampleInputapply" placeholder="Any special items that may apply to the resident" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputproperties">Personal properties belonging resident brought into SRS</label>
                        <input type="text" class="form-control" id="exampleInputproperties" placeholder="Personal properties belonging resident brought into SRS" />
                      </div>
                      <button type="submit" class="btn btn-primary mr-2"> Submit </button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      