<div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"><b>SRS Referal</b></h3>
             
            </div>
            <div class="row">
<div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <p class="card-description">REFFERING CONTACT</p>
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputname">SRS Name</label>
                        <input type="text" class="form-control" id="exampleInputname" placeholder="SRS Name" />
                      </div>
                       <div class="form-group">
                        <label for="exampleaddress">SRS Address</label>
                        <input type="text" class="form-control" id="exampleaddress" placeholder="SRS Address" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputtelephone">Telephone</label>
                        <input type="text" class="form-control" id="exampleInputtelephone" placeholder="Telephone" />
                      </div>
                      <div class="form-group">                     
                        <label for="exampleInputfax">Fax</label>
                        <input type="text" class="form-control" id="exampleInputfax" placeholder="Fax" />
                         </div>
                      <div class="form-group"> 
                        <label for="exampleInputemail">Email</label>
                        <input type="text" class="form-control" id="exampleInputemail" placeholder="Email" />
                      </div>
                      <p class="card-description">ADDITIONAL INFORMATION CONTACT</p>
                      <div  class="form-group">
                         <label for="exampleInputcontact">Contact Name</label>
                        <input type="text" class="form-control" id="examplecontact" placeholder="Contact Name" />
                         </div>
                      <div class="form-group"> 
                        <label for="exampleInputemail">Email</label>
                        <input type="text" class="form-control" id="exampleInputemail" placeholder="Email" />
                      </div>
                      <div  class="form-group">
                        <label for="exampleInputadd1">Address</label>
                        <input type="text" class="form-control" id="exampleInputadd1" placeholder="Address" />
                      </div>
                       <p class="card-description">REASON FOR REFFERAL - DETAIL OF DISCHARGE</p>
                      <div>
                        <pre class="tab"></pre>
                      </div>
                      <p class="card-description">RESIDENT DETAILS</p>
                       <div  class="form-group">
                         <label for="exampleInputresname">Resident Name</label>
                        <input type="text" class="form-control" id="exampleresname" placeholder="Resident Name" />
                        
                      </div>
                       <div  class="form-group">
                         <label for="exampleInputprefname">Prefferd Name</label>
                        <input type="text" class="form-control" id="exampleprefname" placeholder="Prefferd Name" />
                         </div>
                      <div class="form-group"> 
                        <label for="exampleInputdob">D.O.B</label>
                        <input type="text" class="form-control" id="exampleInputemail" placeholder="dd/mm/yyyy" />
                      </div>

                      <div class="form-group">
                        <label for="exampleInputnok">NOK</label>
                        <input type="text" class="form-control" id="exampleInputnok" placeholder="NOK" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputmanager">Case Manager</label>
                        <input type="text" class="form-control" id="exampleInputmanager" placeholder="Case Manager" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputguardian">Guardian</label>
                        <input type="text" class="form-control" id="exampleInputguardian" placeholder="Guardian" />
                      </div>
                        <div class="form-group">
                        <label for="exampleInputgeneral">General Practitioner</label>
                        <input type="text" class="form-control" id="examplegeneral" placeholder="General Practitioner" />
                      </div>
                       <div class="form-group">
                        <label for="exampleInputperson">Person nominated </label>
                        <input type="text" class="form-control" id="exampleInputperson" placeholder="Person nominated" />
                      </div>
                       <div class="form-group">
                        <label for="exampleInputadministartor">Administrator</label>
                        <input type="text" class="form-control" id="exampleInputadministartor" placeholder="Administrator" />
                      </div>
                       <div class="form-group">
                        <label for="exampleInputmedicare">Medicare Number</label>
                        <input type="text" class="form-control" id="exampleInputmedicare" placeholder="Medicare Number" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputpension">Pension</label>
                        <input type="text" class="form-control" id="exampleInputpension" placeholder="Pension" />
                         </div>
                      <div class="form-group"> 
                         <label for="exampleInputlangu">Language Spoken</label>
                        <input type="text" class="form-control" id="exampleInputlangu" placeholder="Language Spoken" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputreligous">Religous prefrence</label>
                        <input type="text" class="form-control" id="exampleInputreligous" placeholder="Religous prefrence" />
                         </div>
                      <div class="form-group"> 
                         <label for="exampleInputnationality">Nationality</label>
                        <input type="text" class="form-control" id="exampleInputnationality" placeholder="Nationality" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputdiagnosis">Diagnosis</label>
                        <input type="text" class="form-control" id="exampleInputdiagnosis" placeholder="Diagnosis" />
                      </div>
                      <button type="submit" class="btn btn-primary mr-2"> Submit </button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    