<div class="main-panel">
	<div class="content-wrapper">
	  <div class="page-header">
	    <h3 class="page-title"><b>Incident Reporting</b></h3>
	   
	  </div>
		  <div class="row">
<div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Incident Report</h4>
                    <p class="card-description"></p>
                    <form class="forms-sample">
                      <div class="form-group" >
                     	  <label for="exampleInputother">Type of Incident</label><br>

                        <div class="form-check" style="padding-left: 20px;">

                        	<div class="row">

                                <div class="col-3">
                                  <input type="radio" class="form-check-input" name="assault" id="assault" value="" checked /><label class="form-check-label">Assault</label>
                                  <input type="radio" class="form-check-input" name="fail" id="fail" value=""  /> <label class="form-check-label">Fail</label>
                                  <input type="radio" class="form-check-input" name="illness" id="illness" value="" /><label class="form-check-label"> Illness</label>
                                  <input type="radio" class="form-check-input" name="meds" id="meds" value="" /> <label class="form-check-label">Meds</label>
                              </div>
                              <div class="col-3">
                                  <input type="radio" class="form-check-input" name="injury" id="injury" value="" /><label class="form-check-label"> Injury</label>
                                  <input type="radio" class="form-check-input" name="missingres" id="missingres" value="" /> <label class="form-check-label">Missing Res</label>
                                  <input type="radio" class="form-check-input" name="fire" id="fire" value="" /><label class="form-check-label"> Fire</label>
                                  <input type="radio" class="form-check-input" name="death" id="death" value="" /><label class="form-check-label"> Unexpected Death</label>
                              </div>
                              </div>
                              </div>
                            </div>
                      <div class="form-group">
                        <label for="exampleInputother">Other</label>
                        <input type="text" class="form-control" id="exampleInputother" placeholder="Other" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputincident4">Description of incident</label>
                        <input type="text" class="form-control" id="exampleInputincident" placeholder="Description of incident" />
                      </div>
                      <div class="form-group">
                        <label for="exampleSelectaction">Action Taken</label>
                        <input type="text" class="form-control" id="exampleInputaction" placeholder="Action Taken" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputstaff">Staff Member</label>
                        <input type="text" class="form-control" id="exampleInputstaff" placeholder="Staff Member" />
                      </div>
                       <div class="form-group">
                        <label for="exampleInputfollow">Follow Up/Notes</label>
                        <input type="text" class="form-control" id="exampleInputfollow" placeholder="Follow Up/Notes" />
                      </div>
                       <div class="form-group">
                        <label for="exampleInputupstaff">Follow Up staff</label>
                        <input type="text" class="form-control" id="exampleInputupstaff" placeholder="Follow Up staff" />
                      </div>
                      <p class="card-description">Persons Notified</p>
                       <div class="form-group">
                        <label for="exampleInputother1">Other</label>
                        <input type="text" class="form-control" id="exampleInputother1" placeholder="Other" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputtime">Time/Date of notification</label>
                        <input type="text" class="form-control" id="exampleInputtime" placeholder="Time/Date of notification" />
                      </div>
                      <button type="submit" class="btn btn-primary mr-2"> Submit </button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
		 


		 </div>

	</div>
</div>
