<div class="main-panel">
	<div class="content-wrapper">
	  <div class="page-header">
	    <h3 class="page-title"><b>Transfer Form</b></h3>
	   
	  </div>
		  <div class="row">
<div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">SRS Manager Supported Residential Service</h4>
                    <p class="card-description">Transfer Details</p>
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputname">Resident Name</label>
                        <input type="text" class="form-control" id="exampleInputname" placeholder="Resident Name" autofocus="true" />
                      </div>
                      <div class="form-group">

                        <label for="exampleInputdob">Date of birth</label>
                        <input type="text" class="form-control" id="exampleInputdob" placeholder="dd/mm/yyyy" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputfemale">Female</label>
                        <input type="checkbox" class="form-control" id="exampleInputfemale" placeholder="Female" />
                        </div>
                      <div class="form-group">
                        <label for="exampleInputmale">Male</label>
                        <input type="checkbox" class="form-control" id="exampleInputmale" placeholder="Male" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputnationality">Nationality</label>
                        <input type="text" class="form-control" id="exampleInputnationality" placeholder="Nationality" />
                        </div>
                      <div class="form-group">
                        <label for="exampleInputlanguage">Language Spoken</label>
                        <input type="text" class="form-control" id="exampleInputlanguage" placeholder="Language Spoken" />
                        </div>
                      <div class="form-group">
                        <label for="exampleInputreligion">Religion</label>
                        <input type="text" class="form-control" id="exampleInputreligion" placeholder="Religion" />
                      </div>
                      <div class="form-group">
                        <label for="exampleSelectmedicare">Medicare No</label>
                         <input type="text" class="form-control" id="exampleInputmedicare" placeholder="Medicare No" />
                         </div>
                      <div class="form-group">
                         <label for="exampleSelectpension">Pension No</label>
                         <input type="text" class="form-control" id="exampleInputpension" placeholder="Pension No" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputchemist">Chemist Detail</label>
                        <input type="text" class="form-control" id="exampleInputchemist" placeholder="Chemist Detail" />   
                      </div>
                      <div class="form-group">
                        <label for="exampleInputdate">Date</label>
                        <input type="text" class="form-control" id="exampleInputdate" placeholder="Date" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputfrom">From</label>
                        <input type="text" class="form-control" id="exampleInputfrom" placeholder="From" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputaddress">Address</label>
                        <input type="text" class="form-control" id="exampleInputaddress" placeholder="Address" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputph">Ph</label>
                        <input type="text" class="form-control" id="exampleInputph" placeholder="Ph" />
                        </div>
                      <div class="form-group">
                        <label for="exampleInpufax">Fax</label>
                        <input type="text" class="form-control" id="exampleInputfax" placeholder="Fax" />
                      </div>
                       <div class="form-group">
                        <label for="exampleInputto">To</label>
                        <input type="text" class="form-control" id="exampleInputto" placeholder="To" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputreason">Reason For Transfer</label>
                        <input type="text" class="form-control" id="exampleInputreason" placeholder="Reason For Transfer" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputchart">Current Medication Chart Attached?</label>
                        <label>
                         <input type="checkbox" class="form-control" id="exampleInputchart" placeholder="yes" /> Yes
                        </label>
                        <label>
                        <input type="checkbox" class="form-control" id="exampleInputchart" placeholder="no" /> No
                        </label>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputifno">If no, list any medication the resident on</label>
                        <input type="text" class="form-control" id="exampleInputifno" placeholder="If no, list any medication the resident on" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputweb">Websterpak</label>
                        <label>
                         <input type="checkbox" class="form-control" id="exampleInputweb" placeholder="yes" /> Yes
                        </label>
                        <label>
                        <input type="checkbox" class="form-control" id="exampleInputweb" placeholder="no" /> No
                        </label>
                      </div>
                       <div class="form-group">
                        <label for="exampleInputifany">If no, list any medication sent with resident if any:</label>
                        <input type="text" class="form-control" id="exampleInputifany" placeholder="If no, list any medication sent with resident if any:" />
                      </div>
                       <div class="form-group">
                        <label for="exampleInputlast">Last time Medication given</label>
                        <input type="text" class="form-control" id="exampleInputlast" placeholder="Last time Medication given" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputreport">Accompanying Reports</label>
                        <input type="text" class="form-control" id="exampleInputreport" placeholder="Accompanying Reports" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputnext">Next</label>
                        <input type="text" class="form-control" id="exampleInputnext" placeholder="Next" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputtransfer">Has been advised of the transfer</label>
                        <label>
                         <input type="checkbox" class="form-control" id="exampleInputtransfer" placeholder="yes" /> Yes
                        </label>
                        <label>
                        <input type="checkbox" class="form-control" id="exampleInputtransfer" placeholder="no" /> No
                        </label>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputguardian">Guardian</label>
                        <input type="text" class="form-control" id="exampleInputguardian" placeholder="Guardian" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputtransfer">Has been advised of the transfer</label>
                        <label>
                         <input type="checkbox" class="form-control" id="exampleInputtransfer" placeholder="yes" /> Yes
                        </label>
                        <label>
                        <input type="checkbox" class="form-control" id="exampleInputtransfer" placeholder="no" /> No
                        </label>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputcase">Case Manager</label>
                        <input type="text" class="form-control" id="exampleInputcase" placeholder="Case Manager" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputtransfer">Has been advised of the transfer</label>
                        <label>
                         <input type="checkbox" class="form-control" id="exampleInputtransfer" placeholder="yes" /> Yes
                        </label>
                        <label>
                        <input type="checkbox" class="form-control" id="exampleInputtransfer" placeholder="no" /> No
                        </label>
                      </div>
                       <div class="form-group">
                        <label for="exampleInputperson">Person Nominated</label>
                        <input type="text" class="form-control" id="exampleInputperson" placeholder="Person Nominated" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputtransfer">Has been advised of the transfer</label>
                        <label>
                         <input type="checkbox" class="form-control" id="exampleInputtransfer" placeholder="yes" /> Yes
                        </label>
                        <label>
                        <input type="checkbox" class="form-control" id="exampleInputtransfer" placeholder="no" /> No
                        </label>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputadmin">Administrator</label>
                        <input type="text" class="form-control" id="exampleInputadmin" placeholder="Administrator" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputtransfer">Has been advised of the transfer</label>
                        <label>
                         <input type="checkbox" class="form-control" id="exampleInputtransfer" placeholder="yes" /> Yes
                        </label>
                        <label>
                        <input type="checkbox" class="form-control" id="exampleInputtransfer" placeholder="no" /> No
                        </label>
                      </div>
                      <button type="submit" class="btn btn-primary mr-2"> Submit </button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
		  </div>
		</div>
	</div>
	