<div class="main-panel">
	<div class="content-wrapper">
	  <div class="page-header">
	    <h3 class="page-title"><b>My Profile</b></h3>
	   
	  </div>
	  <div class="row">
	  	<div class="col-12 grid-margin stretch-card">

		<div class="card">
                  <div class="card-body">
                    <p class="card-description">Update Profile</p>
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputname">Name</label>
                        <input type="text" class="form-control" id="exampleInputname" value="<%=@user.name %>" />
                      </div>
                       <div class="form-group">
                        <label for="exampleaddress">Email Address</label>
                        <input type="text" class="form-control" id="exampleaddress" value="<%= @user.email %>" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputtelephone">Password</label>
                        <input type="text" class="form-control" id="exampleInputtelephone" value="<%= @user.password %>" />
                      </div>
											<button type="submit" class="btn btn-primary mr-2"> Update </button>
                      <button class="btn btn-light">Cancel</button>                      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          