<div class="row mb-2">
  <div class="col-md-8">  
    <!-- Columns & Export Button Group -->
    <div class="btn-group" role="group" aria-label="Basic example">
<!--      <button id="BOOK_TABLE_EXPORT_TO_EXCEL" type="button" class="btn btn-light">
      <a href="#"><i class="fa fa-file-excel"></i> Excel</a>
      </button>-->
      <button id="BOOK_TABLE_EXPORT_TO_CSV" type="button" class="btn btn-light">
      <a href="#"><i class="fa fa-file-csv"></i> EXPORT</a>
      </button>
    </div>
  </div> 
</div>