<div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"><b>SUPPORT PLAN</b></h3>
             
            </div>
            <div class="row">
         <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <p>Date Of Birth:</p> <p>
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputPersonal">Personal Hygiene</label>
                        <input type="text" class="form-control" id="exampleInputPersonal" placeholder="Personal Hygiene" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEating">Eating and Nutrition </label>
                        <input type="text" class="form-control" id="exampleInputEating" placeholder="Eating and Nutrition" />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputHealth">Health Care</label>
                        <input type="text" class="form-control" id="exampleInputHealth" placeholder="Health Care" />
                      </div>
                      <div class="form-group">
                        <label for="exampleSelectMedication">Medication</label>
                        <input type="text" class="form-control" id="exampleInputMedication" placeholder="Medication" />
                      </div>
                      <div class="form-group">
                        <label for="exampleSelectSocial">Social Contact and Emotional wellbeing</label>
                        <input type="text" class="form-control" id="exampleInputSocial" placeholder="Social Contact and Emotional wellbeing" />
                      </div>
                      <div class="form-group">
                        <label for="exampleSelectBehaviour">Behaviour</label>
                        <input type="text" class="form-control" id="exampleInputBehaviour" placeholder="Behaviour" />
                      </div>
                      <div class="form-group">
                        <label for="exampleSelectGoal">Goals/Finances/Other</label>
                        <input type="text" class="form-control" id="exampleInputGoal" placeholder="Goals/Finances/Other" />
                      </div>

                      
                      <button type="submit" class="btn btn-primary mr-2"> Submit </button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
          </p>
      </div>
  </div>
</div>
</div>
</div>
</div>
