<div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"><b>Add New Support Plan</b></h3>
             
            </div>
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
  					         <%= render partial: 'support_plans/form/form' %>

                  	</div>
                </div>
              </div>
            </div>
          </div>
        </div>
