
.p-class{
	  color: green;
}
.center {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;

}
.center-align {
  text-align: center;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
.box{
  
	padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;  
  text-align: center;

}
.layout{
	padding-top: 150px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;  
}
.foot {
  position: fixed;
  left: 0;
  padding-left: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
  text-align: center;
}